
.student-holder{
	position: relative;
	margin-bottom: 60px;
}
.wrapper{
	max-width: 1070px;
    margin: 0 auto;
}
.graduate-panel{
	min-height: 314px;
    width: 57.4%;
    padding: 37px 46px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2.424px 4.373px 17px 0 rgba(0, 0, 0, 0.14);

}
.icon-hold{
	position: absolute;
    right: 0;
    top: 40px;
}
.click-dots{

}
.icon-panel{
	left: 0;
	right: auto;
}
