.heading {
    font-size: 28.14px;
    font-family: visby_cfbold;
    margin-bottom: 62px;
    text-align: center;
}
.partners-list{
	flex-wrap:wrap;
	align-items: center;
}

.partner {
    width: 30%;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2.424px 4.373px 17px 0 rgba(0, 0, 0, 0.14);
    min-height: 130px;
    padding: 20px;
    transform: scale(1);
    transition: .3s ease;
    margin-bottom: 20px;
    justify-content:center;
     transition: all 200ms ease-in;
    transform: scale(1);   

}
.partner>img{
	max-width:70%;
}
.partner:hover{
 transition: all 200ms ease-in;
    transform: scale(1.1);
}